
.logo {
  height: 50px;
  margin: 10px;
  padding: 20px;
}

h1 {
    font-family: sans-serif;
    color: rgb(0,0,0);
    display: block;
    margin: 1em auto;
    text-align: center;
    padding-top: 10 auto;
}

.showcase {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: .15 em;
    font-style: italic;
}