h1 {
    font-family: sans-serif;
    color: whitesmoke;
    display: block;
    margin: 1em auto;
    text-align: center;
    padding-top: 50;
}

.logo {
    display: inline-block;
}

.showcase {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

form {
    padding-top: 20px;
}

footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: .15 em;
    font-style: italic;
}

.navbar {
    background-color: cornflowerblue;
  }
  
.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
  }
  
  .menu-item {
    position: relative;
    padding: 16px;
    color: white;
    cursor: pointer;
  }
  
  .menu-item:hover {
    background-color: #444;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #555;
    min-width: 160px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown li {
    padding: 10px;
    color: white;
  }
  
  .dropdown li:hover {
    background-color: #666;
  }
  
  .menu-item:hover .dropdown {
    display: block;
  }

  .column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 800px; /* Adjust to your desired width */
  }

  #ITC {
    height: 100px;
    background-image: url(/GuruDev.jpg);
  }